*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav
{
    background-color: rgba(12, 11, 9, 0.6);
}
.bookATableLink
{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 30px !important;
    border-radius: 50px;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e;
    transition: 0.3s;
}
.restaurantNavBarLink:hover
{
    color: white !important;
}
.bookATableLink:hover
{
    background-color: #cda45e;
    color: white;
}
.section1
{
    height: 100vh;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.section1 .grayLayer
{
    background-color: rgb(0 , 0 , 0 , 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
nav .container .container-fluid a
{
    color: white;
}
.nav-item a
{
    color: white !important;
}
.playTheVideo
{
    font-size: 70px;
    cursor: pointer;
}
.welcomeToRestaurantly
{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;   
}
h1 .restaurantlySpan
{
    color: #cda45e;
}
.since18years
{
    color: #eee;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
}
.bookin-a-table button
{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 50px;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e;
    transition: 0.3s;
}
.bookin-a-table button:hover
{
    background-color: #cda45e;
    color: white;
}
.section2
{
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 150px 0px;
}
.section2 .grayLayer
{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0 , 0 , 0 , 0.7);
}
.transformScale img
{
    transition: 0.5s;
    border: 4px solid rgba(255, 255, 255, 0.2);
}
.transformScale img:hover
{
    transform: scale(1.03);
}
.transformScale .topLeft
{
    top: 20;
    left: 20;
    border-top: #cda45e 5px solid;
    border-left: #cda45e 5px solid;
    transition: 0.5s;
    padding: 30px;
}
.transformScale .bottomRight
{
    bottom: 20;
    right: 20;
    border-top: #cda45e 5px solid;
    border-left: #cda45e 5px solid;
    transition: 0.5s;
    padding: 30px;
    transform: rotate(180deg);
}
.transformScale:hover .topLeft
{
    top: 5;
    left: 5;
}
.transformScale:hover .bottomRight
{
    bottom: 5;
    right: 5;
}
.voluptatem
{
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
}
.loremIpsumDolorParagraph
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.unorderedList
{
    list-style-type: none;
}
.ullamco
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.unorderedList div li i
{
    font-size: 20px;
    color: #cda45e;
}
.section3
{
    background: #0c0b09;
}
.sectionName-h2
{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
}
.sectionName-h2::after
{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}
.threeParts
{
    background-color: #1a1814;
    transition: 0.3s;
}
.threeParts:hover
{
    background-color: #cda45e;
}
.numberOfSpan
{
    font-size: 28px;
    font-weight: 700;
    color: #cda45e;
    transition: 0.3s;
}
.sectionDescription-paragraph
{
    font-size: 36px;
    font-weight: 700;
    color: #cda45e;
}
.threeParts:hover .numberOfSpan
{
    color: white;
}
.goUp
{
    transition: 1s;
}
.threeParts:hover .goUp
{
    transform: translateY(-20px);
}
.section4
{
    background-color: #1a1814;
}
.meals
{
    list-style-type: none;
}
.meals li
{
    display: inline;
    color: white;
    cursor: pointer;
}
.ulAllMeals
{
    list-style-type: none;
}
.ulAllMeals li
{
    display: inline;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.lobsterBisque::after
{
    content: " ......................................................................";
    z-index: 1;
    color: #bab3a6;
}
.price
{
    color: #cda45e;
}
.mealImage
{
    width: 50px;
}
.displayNone
{
    display: none !important;
}
.mealName
{
    transition: 0.3s;
    cursor: pointer;
    color: white;
}
.mealName:hover
{
    color: #cda45e !important;
}
.section5
{
    background: #0c0b09;
}
.mealsDescription
{
    list-style-type: none;
    border-right: 2px solid #cda45e;
}
.mealsDescription li
{
    color: white;
    cursor: pointer;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
}
.architetoUtAperiamAutemId
{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
.describingTheMealInAParagraph
{
    color: #aaaaaa;
    font-size: 1.rem;
    font-weight: 400;
    line-height: 1.5;
}
.section6
{
    background-image: url(../images/events-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 150px 0px;
    z-index: 999;
}
.section6 .grayLayer
{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0 , 0 , 0 , 0.7);
    z-index: -1;
}
.eventName-h3
{
    font-weight: 600;
    font-size: 26px;
    color: #cda45e;
}
.eventPrice-span
{
    border-bottom: 2px solid #cda45e;
    font-size: 26px;
    font-weight: 700;
    color: white;   
}
.eventUnorderedList
{
    list-style-type: none;
}
.eventUnorderedList li
{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.eventUnorderedList li i
{
    font-size: 20px;
    color: #cda45e;
}
.ullamcoParagraph
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.italiclLoremParagraph
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.eventsNavBar
{
    list-style-type: none;
    text-align: center;
}
.eventsNavBar li
{
    color: white;
    display: inline;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.section7
{
    background: #0c0b09;
}
.bookingATableForm .row .col-xl-4 .py-4 input
{
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;
    padding: .5rem .5rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #625b4b;
}
.bookingATableForm .row .col-xl-4 .py-4 input::placeholder
{
    font-size: 14px;
}
.bookingATableForm .row .col-xl-12 .py-4 textarea
{
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;
    padding: 1rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #625b4b;
    padding-bottom: 70px;
}
.bookingATableForm .row .col-xl-12 .py-4 textarea::placeholder
{
    font-size: 14px;
}
.bookATableButton
{
    background-color: #cda45e;
    border-radius: 70px;
    padding: 7px 40px;
    font-size: 20px;
    color: white;
}
.bookATableButton:hover
{
    color: white;
}
.section8
{
    background-color: #0c0b09;
}
.section8 .container-fluid .col-xl-3 div
{
    border: 2px solid #cda45e;
    overflow: hidden;
}
.section8 .container-fluid .col-xl-3 div img
{
    cursor: pointer;
    transition: 0.7s;
}
.section8 .container-fluid .col-xl-3 div img:hover
{
    transform: scale(1.1);
}
.sliderLayer
{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.sliderLayer .sliderGrayLayer
{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0 , 0 , 0 , 0.7);
    z-index: -1;
}
.sliderLayer i
{
    font-size: 26px;
    cursor: pointer;
}
.sliderLayer .nextImageSlide
{
    top: 50%;
    right: 10;
    transform: translateY(-50%);
}
.sliderLayer .previousImageSlide
{
    top: 50%;
    left: 10;
    transform: translateY(-50%);
}
.section9
{
    background-color: #0c0b09;
}
.chefDescription
{
    top: 100%;
    background: linear-gradient(180deg , transparent , rgb(0 , 0 , 0 , 0.8));
    transition: 0.3s;
}
.chefDiv
{
    overflow: hidden;
}
.chefDiv:hover .chefDescription
{
    top: 0;
}
.chefName
{
    font-size: 18px;
    font-weight: 700;
}
.chefSpeciality
{
    font-size: 13px;
    font-style: italic;
}
.iconsForChefs i
{
    cursor: pointer;
}
.section10
{
    background-color: #0c0b09;
}
.section11
{
    background-color: #0c0b09;
}
.divForContact i
{
    font-size: 20px;
    background: #cda45e;
    border-radius: 50%;
}
.iconName
{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.iconExample
{
    font-size: 14px;
    color: #bab3a6;
    font-family: 'Open Sans', sans-serif;
}
form input
{
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;
    padding: .5rem .5rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #625b4b;
}
form input::placeholder
{
    font-size: 14px;
}
form textarea
{
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;
    padding: .5rem .5rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #625b4b;
    padding-bottom: 70px;
}
form text::placeholder
{
    font-size: 14px;
}
.sendMessageButton
{
    background-color: #cda45e;
    border-radius: 70px;
    padding: 7px 40px;
    font-size: 20px;
    color: white;
}
.sendMessageButton:hover
{
    color: white;
}
.section12
{
    background-color: #0c0b09;
    border-top: 0.5px solid #454035;
    border-bottom: 0.5px solid #454035;
}
.restaurantly-h3
{
    font-size: 24px;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}
.addressOfTheRestaurant
{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Playfair Display", serif;
}
.restaurantPages i
{
    background: #28251f;
    transition: 0.3s;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.restaurantPages i:hover
{
    background-color: #cda45e;
}
.usefulLinks-h4
{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}
.usefulPages
{
    list-style-type: none;
}
.usefulPages li span
{
    color: white;
    transition: 0.3s;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}
.usefulPages i
{
    color: #cda45e;
}
.usefulPages li span:hover
{
    color: #cda45e;
}
.tamenQuem
{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.subscribeDiv
{
    border-radius: 20px;
    background: #28251f;
    border: 1px solid #454035;
}
.subscribeDiv button
{
    float: right;
    border-radius: 20px;
    background-color: #cda45e;
    padding: 5px 20px;
}
footer
{
    background-color: #0c0b09;
}
footer .copyRightSpan
{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.bootstrapMadeParagraph
{
    font-size: 13px;
}
.bootstrapMadeLink
{
    color: #cda45e;
}
.bootstrapMadeLink:hover
{
    color: #cda45e;
    text-decoration: none;
}
.scrollUp
{
    position: fixed;
    bottom: 5;
    right: 5;
    display: none;
    z-index: 1000000000;
}
.scrollUp i
{
    font-size: 22px;
    transform: rotate(270deg);
    color: #cda45e;
    border-radius: 50%;
    border: 2px solid #cda45e;
    padding: 10px 15px;
    transition: 0.3s;
    cursor: pointer;
}
.scrollUp i:hover
{
    background-color: #cda45e;
    color: #0c0b09;
}
.warningMessage
{
    color: red;
    font-weight: 400;
    font-size: 13px;
    display: none;
}
.warningSendMessage
{
    color: red;
    font-weight: 400;
    font-size: 13px;
    display: none;
}